In [ ]:
import pandas as pd
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [ ]:
data=pd.read_csv('train.csv')

In [ ]:
data.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,03-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0.0,0.0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,26-09-18,6,1998,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0.0,1.0
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,01-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0.0,0.0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,26-10-18,6,1998,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1.0,1.0
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,26-09-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1.0,1.0

In [ ]:
# There are two types of employment types :-
#    1.Salaried
#    2.Self Employed
data['Employment.Type'].value_counts()

Self employed    19450
Salaried         14326
Name: Employment.Type, dtype: int64

In [ ]:
import numpy
data['Employment.Type'].replace(numpy.nan,3,inplace=True)

In [ ]:
data['Employment.Type'].replace('Salaried',0,inplace=True)
data['Employment.Type'].replace('Self employed',1,inplace=True)

In [ ]:
data.drop(117230,axis=0,inplace=True)

KeyError: ignored

In [ ]:
def m(x):
    s=x.split()
    if(len(s[0])==4):
        y=int(s[0][0])
    else:
        y=int(s[0][0:2])
    if(len(s[1])==4):
        m=int(s[1][0])
    else:
        m=int(s[1][0:2])
    return str(m+(y*12))

In [ ]:
data['CREDIT.HISTORY.LENGTH']=data['CREDIT.HISTORY.LENGTH'].astype(str)
data['CREDIT.HISTORY.LENGTH']=data['CREDIT.HISTORY.LENGTH'].apply(m)
data['AVERAGE.ACCT.AGE']=data['AVERAGE.ACCT.AGE'].astype(str)
data['AVERAGE.ACCT.AGE']=data['AVERAGE.ACCT.AGE'].apply(m)

In [ ]:
data['NEW.ACCTS.IN.LAST.SIX.MONTHS'].value_counts()

In [ ]:
data.drop('UniqueID',axis=1,inplace=True)

In [ ]:
data.head()

In [ ]:
data.drop('Date.of.Birth',axis=1,inplace=True)

In [ ]:
#data.drop('DisbursalDate',axis=1,inplace=True)

In [ ]:
data.drop('Current_pincode_ID',axis=1,inplace=True)

In [ ]:
data.drop(['MobileNo_Avl_Flag','Aadhar_flag','PAN_flag','VoterID_flag','Driving_flag','Passport_flag'],axis=1,inplace=True)

In [ ]:
data.head()

In [ ]:
data.drop('DisbursalDate',axis=1,inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
o=LabelEncoder()
data['PERFORM_CNS.SCORE.DESCRIPTION']=data['PERFORM_CNS.SCORE.DESCRIPTION'].astype('str')
o.fit(data['PERFORM_CNS.SCORE.DESCRIPTION'])
data['PERFORM_CNS.SCORE.DESCRIPTION']=o.transform(data['PERFORM_CNS.SCORE.DESCRIPTION'])

In [ ]:
data.head()

In [ ]:
data.drop('Employee_code_ID',axis=1,inplace=True)

In [ ]:
data.drop('supplier_id',axis=1,inplace=True)

In [ ]:
data.drop('manufacturer_id',axis=1,inplace=True)

In [ ]:
?o

In [ ]:
data['loan_default'].value_counts()

In [ ]:
data['PERFORM_CNS.SCORE.DESCRIPTION'].value_counts()

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
target=data['loan_default']
data.drop('loan_default',axis=1,inplace=True)

In [ ]:
data.shape

In [ ]:
import seaborn as sns
sns.distplot(data['disbursed_amount'])

In [ ]:
data.isnull().sum()

In [ ]:
print("hey12345!")
print()

In [ ]:
data.head()

In [ ]:
#data['inplace_hey hey']
col=data.columns

In [ ]:
data.isnull().sum()

In [ ]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 2)
y=target.values
X=data[:].values
y=y.reshape(-1, 1)
print(X.shape,y.shape)
X,y=sm.fit_sample(X, y.ravel())
print(X.shape,y.shape)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report, plot_confusion_matrix

In [ ]:
len(col)

In [ ]:
scale=StandardScaler()
x=scale.fit_transform(X)

In [ ]:
pca=PCA(n_components=26)

In [ ]:
pca.fit(x)

In [ ]:
x1=pca.transform(x)

In [ ]:
cum_exp_var = []
var_exp = 0
for i in pca.explained_variance_ratio_:
    var_exp += i
    cum_exp_var.append(var_exp)

In [ ]:
cum_exp_var

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(8,6))
ax.bar(range(1,26+1), cum_exp_var)
ax.set_xlabel('# Principal Components')
ax.set_ylabel('% Cumulative Variance Explained');

In [ ]:
d=pd.DataFrame(x1)
d['ans']=y

In [ ]:
!pip install pycaret

In [ ]:
import pycaret

In [ ]:
from pycaret.classification import *

In [ ]:

model_setup = setup(data=d, target='ans', session_id=123)

In [ ]:
best_model = compare_models()

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
et,Extra Trees Classifier,0.8140,0.8801,0.8156,0.8134,0.8145,0.6281,0.6282,11.906
rf,Random Forest Classifier,0.7958,0.8681,0.7941,0.7971,0.7956,0.5916,0.5916,32.682
catboost,CatBoost Classifier,0.7359,0.8172,0.7380,0.7354,0.7367,0.4719,0.4719,37.443
xgboost,Extreme Gradient Boosting,0.7346,0.8157,0.7463,0.7296,0.7378,0.4692,0.4694,48.528
knn,K Neighbors Classifier,0.7222,0.7951,0.7654,0.7049,0.7339,0.4443,0.4460,14.186
lightgbm,Light Gradient Boosting Machine,0.7070,0.7833,0.7046,0.7084,0.7065,0.4140,0.4140,1.885
dt,Decision Tree Classifier,0.6793,0.6797,0.6969,0.6738,0.6851,0.3587,0.3589,2.826
gbc,Gradient Boosting Classifier,0.6647,0.7268,0.7137,0.6504,0.6806,0.3294,0.3310,56.015
ada,Ada Boost Classifier,0.6411,0.6958,0.6766,0.6322,0.6536,0.2821,0.2828,10.825
lr,Logistic Regression,0.6079,0.6369,0.6624,0.5977,0.6284,0.2157,0.2170,1.381
ridge,Ridge Classifier,0.6067,0.0000,0.6655,0.5959,0.6288,0.2133,0.2148,0.077
lda,Linear Discriminant Analysis,0.6067,0.6358,0.6654,0.5959,0.6287,0.2133,0.2148,0.318
svm,SVM - Linear Kernel,0.5967,0.0000,0.6904,0.5822,0.6313,0.1933,0.1971,0.507
qda,Quadratic Discriminant Analysis,0.5222,0.6403,0.9580,0.5121,0.6675,0.0435,0.0887,0.147
nb,Naive Bayes,0.5189,0.6158,0.9329,0.5106,0.6600,0.0370,0.0654,0.083

In [ ]:
#model=best_model()

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0       0.8011  0.8734  0.7998  0.8022  0.8010  0.6022  0.6022
1       0.7857  0.8657  0.7839  0.7871  0.7855  0.5714  0.5714
2       0.8055  0.8746  0.8096  0.8034  0.8065  0.6111  0.6111
3       0.7981  0.8678  0.7984  0.7982  0.7983  0.5961  0.5961
4       0.8028  0.8750  0.8022  0.8035  0.8028  0.6056  0.6056
5       0.8030  0.8735  0.7988  0.8059  0.8023  0.6060  0.6060
6       0.8008  0.8722  0.8079  0.7969  0.8024  0.6016  0.6016
7       0.7892  0.8673  0.7848  0.7921  0.7884  0.5784  0.5785
8       0.7889  0.8564  0.7937  0.7865  0.7901  0.5777  0.5778
9       0.7828  0.8554  0.7615  0.7958  0.7783  0.5656  0.5661
Mean    0.7958  0.8681  0.7941  0.7971  0.7956  0.5916  0.5916
SD      0.0079  0.0069  0.0135  0.0065  0.0089  0.0157  0.0156